@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.TagList--root {
  display: flex;
  list-style: none;
  padding: 0;
  li:not([class*="state--"]) {
    $s: $s-button;
    display: flex;
    align-items: center;
    background-color: color(highlight);
    height: $s;
    border-radius: $s * .5;
    transition: box-shadow $t-dur $t-func;
    box-shadow: none;
    &:hover {
      box-shadow: shadow(1);
    }
    &:not(:last-child) {
      margin-right: u();
    }
    .prefix {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      overflow: hidden;
      min-width: $s;
      padding-left: $s * .5;
      img {
        max-height: $s;
        border-radius: 50%;
        max-width: auto;
        margin-left: $s * -0.5;
      }
    }
    .content {
      padding-left: u();
      &:first-child {
        padding-left: $s * .5;
      }
    }
    .close {
      flex: 0 0 auto;
    }
  }

  .state--empty {
    flex: 0 0 100%;
    @include empty-styles();
  }

  .state--error {
    flex: 0 0 100%;
    @include error-styles();
  }
}