@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Assignment--root {
  display: flex;
  align-items: stretch;
  
  .selection, .choises {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    header {
      display: flex;
      border-bottom: 1px solid color(border);
      flex: 0 0 $entity;
      padding: 0 u();
      position: relative;
      background-color: color(secondary);

      >* {
        position: relative;
        z-index: 2;
      }

      &:after {
        content: '';
        @include shadow-cover(color(solid));
      }

      &:before {
        content:"";
        @include shadow-bottom();
      }
    }
    ul {
      flex: 0 1 auto;
      overflow-y: auto;
    }
  }

  .state--empty {
    width: 80%;
    margin: 0 auto;
  }

  .search {
    @include style-blank-field();
  }

  .text {
    margin: auto 0;
  }

  .selection {
    border-right: 1px solid color(border);
    background-color: color(solid);
  }

  ul {
    list-style: none;
    padding: 0;
    li:not(:last-child) {
      border-bottom: 1px solid color(border);
    }
  }
}