@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Assignment--root {
  display: flex;
  align-items: stretch;
  
  .selection, .choises {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    header {
      border-bottom: 1px solid color(border);
      flex: 0 0 $entity;
    }
    ul {
      flex: 0 1 auto;
      overflow-y: auto;
    }
  }

  .search {
    @include style-blank-field();
  }

  .selection {
    border-right: 1px solid color(border);
    background-color: color(secondary);
  }

  ul {
    list-style: none;
    padding: 0;
    li:not(:last-child) {
      border-bottom: 1px solid color(border);
    }
  }
}