@import 'mixins/_u.scss';
@import 'mixins/_ph.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.TextInput--root {
  $gutter: u(0.5);
  display: flex;

  label {
    display: flex;
    position: relative;
    border-bottom: 1px solid c(border);
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $c-acc;
      transition: width $t-dur $t-func;
    }
  }

  svg {
    margin: auto;
  }

  input {
    display: block;
    flex: 1 1 auto;
    height: $s-input;
    border: 0;
    background: none;
    @include placeholder() {
      @include ph-styles();
      opacity: 0;
      transition: opacity $t-dur;
    }
    &:focus {
      @include placeholder() {
        opacity: 1;
        transition-delay: $t-dur * 0.5;
      }
    }
  }

  .body {
    flex: 1 1 auto;
  }

  .prefix, .suffix, .helper {
    display: flex;
    flex: 0 0 auto;
  }
  
  .prefix {
    margin-right: u();
  }

  .suffix {
    margin-left: u();
  }

  .label {
    position: absolute;
    top: 0px;
    font-size: inherit;
    line-height: $s-input;
    transition: transform $t-dur $t-func;
    transform: translate3d(0,0,0) scale(1);
    transform-origin: top left;
  }

  .subtext {
    @include cap-styles();
    display: block;
    margin-top: u(.5);
  }
  
  input:not([value='']) + .label,
  input:focus + .label,
  &.state--focus .label {
    transform: translate3d(0, $s-input * -0.6, 0) scale(.9);
  }

  &.state--focus {
    svg {
      fill: $c-acc;
    }
    
    label:after {
      width: 100%;
    }

    .label {
      color: $c-acc-dk;
    }
  }

  &.state--error {
    svg {
      fill: $c-error;
    }

    label  {
      border-color: $c-error;
    }
    label:after {
      background-color: $c-error;
    }
    .subtext, .label {
      color: $c-error;
    }
  }

  &.state--disabled {
    @include dis-styles();
  }
}