// Browser support ======================================================
// ======================================================================
$debug-browser-support: false;
$browser-minimum-versions: ("ie": "9", "opera": "15") !default;
$graceful-usage-threshold: 5 !default;
$is-9: support-legacy-browser(ie, "9");
$is-10: support-legacy-browser(ie, "10");
$MAIN-UNIT: 8px;
// Import compass stuff
@import "compass/support";
@import "compass/css3";
@import "compass/css3/flexbox";
@import "compass/css3/selection";
@import "compass/typography/vertical_rhythm";
// Import all necessary files

// In general i suggest separate file for each mixin wich named same as mixin. If you make your own - describe what it does in a beginning of file NOTE: USE SASS COMMETS WICH WILL NOT BE COMPILED
@import "mixins/_unit.scss"; // Function for generating BASE-UNIT related values see "base/base.scss:11;12"
@import "mixins/_baseline.scss"; // Compass @baseline mixin override
@import "mixins/_ellipsis.scss"; // Ellipsis turncrate
@import "mixins/_hide-text.scss"; // Hide all text
@import "mixins/_media.scss"; // Media responce shortcut
@import "mixins/_placeholder.scss"; // Syles for a placeholder in one piece
@import "mixins/_pos.scss"; // Absolute positioning shortcut


@import "base/_fonts.scss"; // Font we link here
@import "base/_base.scss"; // All GLOBAL variables (fonts, sizes, colors, borders, shadows) and base styling for html, body, selection
@import "typography/_links.scss"; // Links wich have HREF
@import "typography/_headings.scss"; // Different headings and captions
@import "typography/_semantics.scss"; // All semantic styling and small elements such as badges, counters e.t.c
@import "typography/_embeeded.scss"; // Images, figures, objects
@import "typography/_lists.scss"; // Lists and definitions
@import "typography/_tables.scss"; // Tables
@import "typography/_helpers.scss"; // Helper classes
@import "elements/_essentials.scss"; // Generally we DO NOT STYLE here - this is normalizer.css stuff for form elements
@import "elements/_fieldsets.scss"; // Fieldsets
@import "elements/_switchers.scss"; // Checkboxes, Radio buttons, Different custom switchers and togglers
@import "elements/_textlike.scss"; // Inputs with text and textareas
@import "elements/_dropdowns.scss"; // Selects and custom dropdowns like Chosen.js e.t.c
@import "elements/_buttons.scss"; // Buttons and button-like elements here. Buttons with dropdowns here also

// In general i use "mod-" prefix for a defined markup module. Nikolay suggested to use separate file for each module wich is named as core class in it ".mod-authform" for example in mod-authform.scss/ Actually for most cases your page is one module this files may be renamed or removed - this is just an a example.
// NOTE: don't forget about incapsulation
@import "modules/_mod-authform.scss";
@import "modules/_mod-dashboard.scss";
@import "modules/_mod-editform.scss";

@import "layout/_common.scss"; // Global layout for an APP
