@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Button {
  display: inline-flex;
  border: 0;
  padding: 0 u();
  min-width: map-get($sizes, xs);
  justify-content: center;
  align-items: center; 
  height: $s-button;
  line-height: $s-button;
  font-weight: 400;
  font-size: u(1.375);
  text-transform: uppercase;
  border-radius: $bdrs;
  
  &:hover {
    text-decoration: none;
  }
  
  svg {
    width: u(1.75);
    height: u(1.75);
  }
  
  svg:first-child {
    margin-right: u();
  }
  svg:last-child {
    margin-left: u();
  }
  
  &[disabled] {
    @include dis-styles();
  }

// Regular (solid) button styles
// =================================================================

  @include button-solid($c-acc, $c-acc-lt, $c-sec);
  
  &.secondary {
    @include button-solid($c-acc-sec, $c-acc-sec-lt, $c-sec);
  }

  @each $style, $color in $states {
    &.#{$style} {
      @include button-solid($color, lighten($color, 5%), $c-sec);
    }
  }

// Lined button styles
// =================================================================
  &.lined {
    @include button-lined($c-acc);
  }

  &.secondary-lined {
    @include button-lined($c-acc-sec);
  }

  @each $style, $color in $states {
    &.#{$style}-lined {
      @include button-lined($color);
    }
  }
}