@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Button-root {
  display: inline-flex;
  border: 0;
  padding: 0 u();
  font-size: u(1.375);
  min-width: map-get($sizes, xs);
  justify-content: center;
  align-items: center; 
  height: $s-button;
  line-height: $s-button - 4px;
  border: 2px solid c(border);
  font-weight: 400;
  text-transform: uppercase;
  border-radius: $bdrs;
  
  &:hover {
    text-decoration: none;
  }
  
  svg {
    width: u(1.75);
    height: u(1.75);
  }
  
  svg:first-child {
    margin-right: u();
  }
  svg:last-child {
    margin-left: u();
  }
  
  &[disabled] {
    @include dis-styles();
  }

// Lined button styles
// =================================================================
  @include button-simple($c-acc);

  &.secondary {
    @include button-simple($c-acc-sec);
  }

  @each $style, $color in $states {
    &.#{$style} {
      @include button-simple($color);
    }
  }

// raised button styles
// =================================================================
  &.raised {
    @include button-raised($c-acc, $c-acc-lt, $c-sec);
  }
  
  &.secondary-raised {
    @include button-raised($c-acc-sec, $c-acc-sec-lt, $c-sec);
  }

  @each $style, $color in $states {
    &.#{$style}-raised {
      @include button-raised($color, lighten($color, 5%), $c-sec);
    }
  }
}