/* Template Base styles compass file generated upon:
	 normalize-scss 4.2.0 | MIT/GPLv2 License | bit.ly/normalize-scss
========================================================================== */

// Base variables ========================================================
// =======================================================================
$strict-normalize: false;
$base-font-family: 'PTSans', Tahoma, sans-serif;
$monospace-font-family: monospace, monospace;
$heading-font-family: 'PTSansNarrow', Tahoma, sans-serif;
$rhythm-unit: "px"; //rem
$rem-with-px-fallback: false;
// Typographic sizes variables ===========================================
// =======================================================================
$base-font-size: u(2); //16px;
$base-line-height: u(3); //24px;
$display2-font-size: 2.5 * $base-font-size;
$display1-font-size: 2 * $base-font-size;
$heading-font-size: 1.75 * $base-font-size;
$subhead1-font-size: 1.375 * $base-font-size;
$subhead2-font-size: 1 * $base-font-size;
$caption-font-size: 0.75 * $base-font-size;

// Layout sizes and variables ============================================
// =======================================================================
$dur: 0.25s;
$bdrs: 2px;
$layout: (
	min-width: 1200px,
	bp: 1400px,
	nav: 172px,
	auth: 320px,
	buffer: 320px,
	dashboard: 370px,
	popup: 480px
);
$sizes: 40 60 90 120 180 240 320 380;
$icon-unit: u(2);
$pointer-unit: u(3);
$form-unit: u(4);
$entity-unit: u(6);

// Colors ================================================================
// =======================================================================
$c-main: #4F4E53;
$c-alt: #f9f9f9;
$c-element: #fff;
$c-accent: #3C66AD;
$c-accent-alt: #e89c33;
$c-border: #cdcfd2;
$c-icon: darken($c-border, 30%);

$c-scale: #6E8EC9 #f0b363 #FF4500;
$states: (
	info: #54B5DF,
	warning: #F9A94A,
	error: #E45857,
	success: #8FC556
);

$app-init: 'app-initialized';
$app-active: 'is-current';

$sh-popup: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
$sh-text: 0 1px 0px rgba(#000,.7);
$sh-text-alt: 0 1px 0px rgba(#fff,.7);
$sh-base:0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);


$bd: 1px solid $c-border;
$bd-darken: 1px solid rgba(0,0,0,.2);
$bd-lighten: 1px solid rgba(255,255,255,.2);

$layers: (
	message: 10,
	dropdown: 15,
	overlay: 20
);

/* Base element styling
========================================================================== */

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  color: $c-alt;
  background-color: $c-accent; }
*::selection {
  color: $c-alt;
  background-color: $c-accent; }

::-webkit-scrollbar {
  width: u(1.125);
  height: u(1.125);
}

::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-track:vertical {
  border-left: $bd;
}

::-webkit-scrollbar-track:horizontal {
  border-top: $bd;
}
 
::-webkit-scrollbar-thumb {
  border-radius: u();
  background: darken($c-border, 10%);
}

html {
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $c-alt;
  font-family: $base-font-family;
  color: $c-main;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


/* HTML5 display definitions
========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  vertical-align: baseline;
}

audio:not([controls]), template {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

// End
// ==========================================================================
