{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true,
        "debug": true,
        "targets": {
          "chrome": 63,
          "firefox": 58
        }
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "lodash"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    },
    "test": {
      "presets": [
        "env",
        "react",
        "stage-1"
      ]
    }
  }
}