{
  "env": {
    "webextensions": true,
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": [],
      "extensions": [
        ".js",
        ".jsx"
      ]
    }
  },
  "extends": ["airbnb", "plugin:react/recommended", "eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "plugins": ["react", "babel", "import", "jest"],
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "dependencies": true, "peerDependencies": true}]
  }
}