// @baseline compass mixin override to handle @content block
// ===================================================================================

@mixin baseline($font-size: $base-font-size) {
  $relative-size: 100% * $font-size / $browser-default-font-size;
  @if support-legacy-browser(ie, "6") and not $relative-font-sizing {
    * html {
      font-size: $relative-size;
    }
  }
  html {
    font-size: if($relative-font-sizing, $relative-size, $font-size);
    @if $relative-font-sizing {
      line-height: convert-length($base-line-height, em);
    }
    @else {
      line-height: round($base-line-height);
    }
    @content;
  }
}