@mixin form-element() {
	background-color: $c-element;
	color: $c-main;
	border: $bd;
	border-radius: $bdrs;
	transition: box-shadow $dur, opacity $dur;
}
@mixin form-pholder($s: 0.875em) {
	font-style: italic;
	font-size: $s;
	color: lighten($c-main, 26%);
  opacity: 1;
}