@mixin font-family($ff, $variants: regular regular-italic bold bold-italic, $base: '../font') {

  $data: (
    black: normal 900,
    black-italic: italic 900,
    bold: normal 700,
    bold-italic: italic 700,
    regular: normal 400,
    regular-italic: italic 400,
    light: normal 300,
    light-italic: italic 300,
    thin: normal 100,
    thin-italic: italic 100,
  );

  @each $v in $variants {
    $values: map-get($data, $v);
    $style: nth($values, 1);
    $weight: nth($values, 2);
    @font-face {
      font-family: $ff;
      src: url($base + '/' + $ff + '/' + $ff+'-'+$v + '.woff') format('woff');
      font-weight: $weight;
      font-style: $style;
    }
  }
}