@mixin ph-styles () {
  font-style: italic;
  font-weight: 300;
  transition: opacity $t-dur $t-func;
}

@mixin cap-styles () {
  font-size: $f-cap;
  color: color(caption);
  line-height: 1.125;
  font-weight: 300;
}

@mixin dis-styles () {
  opacity: 0.65;
  cursor: default;
}

@mixin solid-styles($pos: relative, $anim: false, $or: top center) {
  position: $pos;
  z-index: 10;
  border-radius: $bdrs;
  box-shadow: shadow(2);
  background-color: color(element);
  // border: 1px solid color(border);
  @if ($anim) {
    transform-origin: $or;
    animation-name: zoomIn;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: $t-dur;
  }
}

@mixin empty-styles() {

}

@mixin loading-styles() {

}

@mixin error-styles() {

}

@mixin button-raised ($main, $main-lt, $alt) {
  border-color: $main;
  background-color: $main;
  color: $alt;
  box-shadow: shadow();

  svg {
    fill: $alt;
  }

  &:not([disabled]):hover {
    background-color: $main-lt;
    border-color: $main-lt;
    color: $alt;
  }

  &:not([disabled]):focus {
    box-shadow: shadow(), 0 0 0 3px rgba($main, .25);
  }
}

@mixin button-simple ($main) {
  border-color: $main;
  color: $main;
  background-color: transparent;
  
  svg {
    fill: $main;
  }

  &:not([disabled]):hover {
    background-color: mix($main, #fff, .1);
    color: $main;
  }

  &:not([disabled]):focus {
    box-shadow: 0 0 0 3px rgba($main, .25)
  }
}