@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Checkbox--root {
  display: grid;
  grid-gap: u();
  grid-template-columns: auto $s-pointer;
  grid-template-rows: $s-pointer auto;
  grid-template-areas:
    "label control"
    "subtext subtext";

  label {
    grid-area: label;
  }

  .subtext {
    grid-area: subtext;
    display: block;
    text-align: right;
    @include cap-styles();
  }

  .control {
    grid-area: control;
    position: relative;
    width: $s-pointer;
    height: $s-pointer;
    input, svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    input {
      opacity: 0;
      z-index: 3;
    }
    svg {
      fill: transparent;
      border: 1px solid map-get($colors, border);
      border-radius: 4px;
      transition: box-shadow $t-dur $t-func;
      z-index: 2;
    }
    input:checked + svg {
      background-color: $c-acc;
      border-color: $c-acc;
      fill: $c-sec;
    }
  }

  &.style--reverse {
    grid-template-columns: $s-pointer auto;
    grid-template-areas:
      "control label"
      "subtext subtext";
    .subtext {
      text-align: left;
    }
  }

  &.state--focus .control svg,
  .control input:not([disabled]):focus + svg {
    box-shadow: 0 0 0 3px rgba($c-acc, .25);
  }

  &.state--focus .control input:not(:checked) svg,
  .control input:not([disabled]):not(:checked):focus + svg {
    background-color: rgba($c-acc, .1);
    fill: $c-sec;
  }
  
}