*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@include selection() {
  background-color: color(selection);
}

::-webkit-scrollbar {
  width: u(1.125);
  height: u(1.125);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:vertical {
  border-left: 1px solid color(secondary, dark);
}

::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid color(secondary, dark);
}
 
::-webkit-scrollbar-thumb {
  border-radius: u();
  background: darken(color(secondary, dark), 10%);
}

html, body {
  margin: 0;
  color: color(primary);
  background: color(secondary);
  font-size: $f-text;
  line-height: 1.875;
  font-weight: 400;
  font-family: $ff;
}

a {
  color: color(action, dark);
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: underline;
    outline: 0;
  }
  &.icon-button {
    display: flex;
    width: $s-input;
    height: $s-input;
    svg {
      margin: auto;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.875;
  font-weight: 400;
}

h1, .t-h1 {
  font-size: $f-h1;
}

h2, .t-h2 {
  font-size: $f-h2;
}

h3, .t-h3 {
  font-size: $f-h3;
}

h4, .t-h4 {
  font-size: $f-h4;
}

h5, .t-h5 {
  font-size: $f-h5;
}

h6, .t-h6 {
  font-size: $f-h6;
}

mark {
  background-color: color(selection);
}

dl {
  
}

dt {
  font-weight: 400;
  &:after {
    content: ":";
  }
}

dd {
  position: relative;
  padding-left: 1.8em;
  &:before {
    display: inline-block;
    content: "—";
    position: absolute;
    left: 0.4em;
  }
}

ul, ol {
  padding-left: 1.4em;
  ol, ul {
    margin: 0;
  }
}

ol ol {
  list-style-type: upper-alpha;
}

ul.small-list {
  padding: 0;
  list-style: none;
  font-size: $f-cap;
  li {
    display: inline-block;
    &:not(:last-child):after {
      content: ', ';
      margin-right: 4px;
    }
    &.state--empty {
      @include cap-styles();
    }
  }
}

hr {
  height: 1px;
  border: 0;
  background: color(border);
}

code, samp, kbd {
  display: inline-block;
  padding: 0 0.5em;
}

pre {
  border-left: 3px solid color(accent);
  background-color: color(highlight);
  padding: 0.5em;
  line-height: 1.125;
  overflow: auto;
}

blockquote {
  padding: 0.5em 1em;
  border-left: 3px solid color(accent);
  background-color: color(secondary);
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

svg[role="icon"] {
	fill: color(primary, light);
	width: $s-icon;
	height: $s-icon;
  pointer-events: none;
  use {
    pointer-events: none;
  }
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  caption {
    text-align: left;
    font-size: $f-h3;
    line-height: 1;
  }
  td {
  }
  td, th {
    padding: 0.25em 0.5em;
  }
  >tr:last-child td, tr:last-child th {
  }
  thead td, th {
    text-align: left;
  }
  tfoot {

  }
}

button,
input,
select,
textarea {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  line-height: normal;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  &:focus {
    outline: 0;
  }
}