$ff: 'Lato', Verdana, Geneva, sans-serif;

$f-h1: u(3.75);
$f-h2: u(3.25);
$f-h3: u(2.75);
$f-h4: u(2.25);
$f-h5: u(2);
$f-h6: u(1.75);
$f-text: u(1.75);
$f-cap: u(1.5);

$s-icon: u(2);
$s-pointer: u(2.5);
$s-input: u(4);
$s-button: u(4);

$sizes: (
  xs: 90px,
  s: 120px,
  m: 180px,
  l: 240px,
  xl: 320px
);

$c-prm: #616161;
$c-prm-lt: lighten($c-prm, 12%);
$c-prm-lt2: lighten($c-prm, 20%);

$c-sec: #fafafa;
$c-sec-dk: darken($c-sec, 5%);
$c-sec-dk2: darken($c-sec, 20%);

$c-acc: #009688;
$c-acc-dk: darken($c-acc, 5%);
$c-acc-lt: lighten($c-acc, 5%);

$c-acc-sec: #FFA726;
$c-acc-sec-dk: darken($c-acc-sec, 5%);
$c-acc-sec-lt: lighten($c-acc-sec, 5%);

$colors: (
  text: $c-prm,
  caption: $c-prm-lt2,
  icon: $c-prm-lt,
  border: $c-sec-dk2,
  highlight: $c-sec-dk,
  shadow: $c-prm,
  solid: #fff,
  el: $c-acc,
  el-light: mix($c-acc-lt, #fff, 20%),
  focus: $c-acc-sec,
  selection: lighten($c-acc-sec, 25%),
);

$c-error: #F44336;
$c-warning: #FFC107;
$c-success: #8BC34A;
$c-info: #00BCD4;

$states: (
  error: $c-error,
  warning: $c-warning,
  success: $c-success,
  info: $c-info
);

$styles: (
  accent: $c-acc,
  accent-sec: $c-acc-sec
);

$feeds: (
  html: $c-success,
  rss: $c-warning,
  facebook: #3b5998,
  reddit: #EF5350,
  twitter: #5BBBF5
);

$sh-thumb: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
$sh-focus: 0 0 0 3px rgba($c-acc, .25);
$sh-modal: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.4);

@function getFocusShadow($c: $c-acc) {
  @return 0 0 0 3px rgba($c, .25);
}

$bdrs: 4px;
$t-dur: 0.2s;
$t-func: cubic-bezier(.4,0,.2,1);