$f-h1: u(4.5);
$f-h2: u(3.75);
$f-h3: u(3.25);
$f-h4: u(2.75);
$f-h5: u(2.25);
$f-h6: u(2);
$f-text: u(2);

$s-icon: u(2);
$s-input: u(3);

$c-prm: #5c6470;
$c-prm-lt: lighten($c-prm, 7.5%);
$c-prm-lt2: lighten($c-prm, 25%);

$c-sec: #f2f2f2;
$c-sec-dk: darken($c-sec, 7.5%);
$c-sec-dk2: darken($c-sec, 15%);

$c-acc: #74abe2;
$c-acc-dk: darken($c-acc, 5%);
$c-acc-lt: lighten($c-acc, 5%);

$c-acc-sec: #ff8e38;
$c-acc-sec-dk: darken($c-acc-sec, 5%);
$c-acc-sec-lt: lighten($c-acc-sec, 5%);

$colors: (
  text: $c-prm,
  caption: $c-prm-lt2,
  icon: $c-prm-lt,
  border: $c-sec-dk2,
  highlight: $c-sec-dk,
  shadow: $c-prm,
  elements: $c-acc,
  focus: $c-acc-sec
);

$c-error: #E45857;
$c-warning: #F9A94A;
$c-success: #8FC556;
$c-info: #54B5DF;

$states: (
  error: $c-error,
  warning: $c-warning,
  success: $c-success,
  info: $c-info
);

$utility: (
  html: #009788,
  rss: #FFA500,
  facebook: #3B5998,
  reddit: #FF4501,
  twitter: #28AAE1,
  gmail: #F14336,
  slack: #47B088,
  yahoo: #400090
);


$t-dur: 0.2s;
$t-func: cubic-bezier(.4,0,.2,1);