@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.DataList--root {

  .DataList--header .container, .list-container {
    width: $s-container;
    margin: 0 auto;
  }

  .DataList--header {
    margin-bottom: u(2);
  }

  .list-container, .sub-list-container {
    list-style: none;
    padding: 0;
  }

  .sub-list-container {
    padding-left: $s-element;
  }

  .state--empty, .state--error {
    display: flex;
    min-height: 240px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span, svg {
      display: block;
    }
    span {
      text-align: center;
    }
  }

  .state--empty {
    svg {
      width: 400px;
      height: 200px;
    }
  }

  .state--error {
    color: color(error);
    svg {
      fill: color(error);
      width: 400px;
      height: 200px;
    }
  }

}

.DataList--header {
  position: relative;
  background-color: color(secondary);

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: color(secondary);
  }

  &:before {
    content:"";
    position: absolute; 
    z-index: 0;
    background: rgba(#000,.33);
    filter: blur(5px);
    bottom: 0;
    left: 2%;
    right: 2%;
    height: 5px;
    border-radius: 20% / 50%;
  }

  h5 {
    display: block;
    font-size: $f-cap;
  }

  .container {
    display: grid;
    grid-template-rows: auto;
    grid-gap: u();
    position: relative;
    padding: 0 ($s-button*2) 0 $s-button;
    z-index: 2;
  }

}

.DataListRow--root {

  .item {
    display: flex;
    position: relative;
    padding: u(.5) 0;
    align-items: center;
    &:hover {
      background-color: color(highlight);
    }
  }

  &:not(:last-child) .item {
    border-bottom: 1px solid color(border);
  }

  .content-holder {
    flex: 1 1 auto;
  }

  .content {
    display: grid;
    grid-template-rows: auto;
    grid-gap: u();
  }

  .image-content {
    margin: auto;
    img {
      display: block;
      margin: auto;
    }
  }

  .ActionMenu--root {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: u(-1);
  }
}