@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Select {
  .Select-control {
    color: inherit;
    height: auto;
    border: 0;
    display: flex;
    align-items: center;
    background: none;
    overflow: visible;
    border-radius: 0;
    border-bottom: 1px solid color(border);
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: color(accent);
      transition: width $t-dur $t-func;
    }
  }
  &.is-focused > .Select-control {
    border-color: color(border) !important;
    background: none !important;
    box-shadow: none !important;
  }
  .Select-placeholder {
    @include ph-styles();
    line-height: $s-input;
    padding: 0;
  }
  .Select-input {
    height: $s-input;
    padding: 0;
    input {
      padding: 0;
    }
  }
  .Select-clear-zone {
    display: flex;
    flex: 0 0 $s-pointer;
    height: $s-input;
    color: color(caption);
    svg {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  .Select-loading-zone {
    display: none;
    flex: 0 0 $s-pointer;
    height: $s-input;
    .Select-loading {
      display: block;
      margin: auto;
      border-right-color: color(primary);
    }
  }
  .Select-arrow-zone {
    display: flex;
    flex: 0 0 $s-input; 
    height: $s-input;
    padding: 0;
    svg {
      margin: auto;
      width: $s-icon;
      height: $s-icon;
    }
  }
  .Select-menu-outer {
    margin-top: 0;
    max-height: 240px;
    top: auto;
    @include solid-styles($pos: absolute, $anim: true);
  }
  .Select-multi-value-wrapper {
    flex: 1 1 auto;
    align-items: center;
    display: flex;
  }
  .Select-option {
    background: none;
    color: color(primary);
    line-height: $s-input;
    padding: 0 u();
    &:hover, &.is-focused {
      background-color: color(highlight);
    }
    &.is-selected {
      background-color: color(accent, lighter);
      font-weight: bold;
    }
  }
  &.Select--single {
    .Select-control {
      .Select-value {
        position:static;
        line-height: $s-input;
        padding: 0 !important;
      }
    }
  }
  &.Select--multi {
    .Select-multi-value-wrapper {
      flex-wrap: wrap;
    }
    .Select-input {
      height: $s-pointer;
      margin: 2px 0;
      > input {
        height: 100%;
        vertical-align: top;
      }
    }
    .Select-value {
      display: inline-flex;
      background-color: color(accent);
      color: color(secondary);
      margin: 2px u(.5) 2px 0;
      padding: 0 4px 0 10px;
      border: 0;
      border-radius: $s-pointer * .5;
      font-size: $f-cap;
      line-height: $s-pointer;
      height: $s-pointer;
      max-width: 120px;
      .Select-value-label {
        padding: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          vertical-align: middle;
        }
      }
      .Select-value-icon {
        padding: 0;
        width: $s-pointer;
        order: 2;
        border: 0;
        border-radius: 0;
        font-weight: bold;
        font-size: u(1.5);
        line-height: $s-pointer + 2px;
        text-align: center;
        &:hover {
          background: none;
          color: inherit;
        }
      }
      &:hover {
        background-color: color(accent, light);
      }
    }
  }
  &.is-focused {
    .Select-control {
      box-shadow: none;
      &:after {
        width: 100%;
      }
      .Select-arrow-zone svg {
        fill: color(accent);
      }
    }
  }
}