@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Dropdown--root {
  display: flex;
  label {
    line-height: $s-input;
  }
  .Select {
    flex: 1 1 auto;
  }
  .Select-control {
    height: $s-input;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid map-get($colors, border);
    &:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $c-acc;
      transition: width $t-dur $t-func;
    }
  }
  .Select-placeholder {
    line-height: $s-input;
  }
  .Select-input {
    height: $s-input;
  }
  .Select-arrow-zone {
    a, svg {
      display: block;
      margin: auto;
    }
  }
  .Select.is-focused {
    .Select-control {
      box-shadow: none;
      &:after {
        width: 100%;
      }
      .Select-arrow-zone svg {
        fill: $c-acc;
      }
    }
  }
}