@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Dropdown--root {
  display: flex;
  align-items: flex-start;
  .control {
    flex: 1 1 auto;
  }
  .prefix, .suffix {
    display: flex;
    flex: 0 0 auto;
    height: $s-input;
  }
  .prefix {
    margin-right: u();
  }
  .suffix {
    margin-left: u();
  }
  label {
    display: block;
    position: relative;
  }
  .subtext {
    display: block;
    margin-top: u(.5);
    text-align: right;
    @include cap-styles();
  }
  .label {
    position: absolute;
    top: 0px;
    font-size: inherit;
    line-height: $s-input;
    transition: transform $t-dur $t-func;
    transform: translate3d(0,0,0) scale(1);
    transform-origin: top left;
  }
  .Select {
    .Select-placeholder {
      opacity: 0;
      transition: opacity $t-dur;
    }
    &.is-focused, &.has-value {
      & + .label {
        color: $c-acc-dk;
        transform: translate3d(0, $s-input * -0.6, 0) scale(.9);
      }
    }
    &.is-focused {
      .Select-placeholder {
        opacity: 1;
        transition-delay: $t-dur * 0.5;
      }
    }
  }
}