@import 'mixins/_u.scss';
@import '_vars.scss';

.Tabsnav--root {
  display: flex;
  position: relative;
  > a {
    flex: 1 1 auto;
    text-align: center;
    line-height: $s-button;
    text-decoration: none;
    &:hover, &focus {
      text-decoration: none;
    }
  }
  .pace {
    position: absolute;
    top: 100%;
    height: 4px;
    margin-top: -4px;
    transition: left $t-dur $t-func;
  }
  &.style--accent {
    .pace {
      background-color: color(accent);
    }
    > a {
      color: color(primary);
    }
  }
  &.style--reverse {
    .pace {
      background-color: color(secondary);
    }
    > a {
      color: color(secondary);
    }
  }
}