/* Layout
========================================================================== */
html, body, body section[class^="screen"] {
	@include pos();
	width: 100%;
	height: 100%;
	min-width: map-get($layout, min-width);
}

body {
	display: flex;
  background: url(../img/bg.png) no-repeat center center;
	background-size: cover;
	&:before {
		$c: darken($c-accent,15%);
		content: '';
		display: block;
		@include pos();
		background-image: linear-gradient(to right, rgba($c,1) 0%,rgba($c,0.75) 12%,rgba($c,0.5) 75%,rgba($c,0.15) 100%);
    //z-index: -1;
	}
}

section[class^="screen"] {
	display: flex;
	z-index: 2;
}

.loading-bar {
	@include pos(false 0 10% 0);
}

.overlay {
	@include overlay();
  display: flex;
  .close-handler {
    @include pos();
  }
  [class*='popup'] {
    margin: auto;
  }
}

.sys-notifications {
  position: fixed;
  width: map-get($layout, 'buffer') * 1.5;
  box-shadow: $sh-popup;
  bottom: baseUnit();
  right: baseUnit();
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.size-half {
  width: 50% !important;
}
.size-full {
  width: 100% !important;
}
@each $s in $sizes {
  .size-#{$s} {
    width: $s+px !important;
  }
}
/* Form layout
========================================================================== */
form {
	.row, .row-flex, .row-flex-wrap {
    display: block;
		margin: baseUnit(3) 0;
    width: 100%;
	}
	.row-flex, .row-flex-wrap {
		display: flex;
		justify-content: space-between;
    align-items: center;
		.form-subtitle {
			flex: 0 0 100%;
			border-bottom: 0;
			padding-bottom: 0;
		}
		.form-description {
			flex: 0 0 100%;
      text-align: right;
      margin: baseUnit(0.5) 0;
		}
	}
	.row-flex {
		> *:not(:last-child) {
			margin-right: baseUnit(2);
		}
	}
	.row-flex-wrap {
		flex-wrap: wrap;
	}
	&.columned {
		padding: baseUnit();
		display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    .form-column {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: baseUnit();
      + .form-column {
        padding-right: 0;
        padding-left: baseUnit();
      }
    }
    .form-block {
      flex: 0 0 100%;
      width: 100%;
    }
	}
}
// End
// ==========================================================================
