@mixin style-disabled() {
	opacity: 0.75;
	cursor: default;
  pointer-events: none;
}
@mixin style-hover () {
	border-color: darken($c-border, 10%);
}
@mixin style-focus () {
	border-color: map-get($states, warning);
	box-shadow: 0 0 u() rgba(map-get($states, warning), .5);
}
@mixin style-accent-element ($fz: $base-font-size, $bdr: $bd-darken) {
  text-align: center;
	font-style: normal;
  font: $fz/#{1} $heading-font-family;
	@include gradient($c-accent);
	border: $bdr;
	color: $c-alt;
  transition: background-color $dur;
}