/* Create new feed module
========================================================================== */
.mod-create-source {
	.create-form-body {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		align-items: stretch;
	}
	.input-area {
		flex: 0 1 40%;
		padding: baseUnit() baseUnit(2);
		border-right: $bd;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.result-area {
		flex: 0 1 60%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		h3 {
			display: block;
			flex: 0 0 $entity-unit;
			line-height: 1;
			margin: 0;
			padding: baseUnit();
			border-bottom: $bd;
		}
	}

  .subtitle {
    & + li[class*='state-'] {
      position: static;
      height: 20vh;
      border-bottom: $bd;
    }
  }

  .simple-link {
    @include ellipsis;
    padding: 0 baseUni();
    + .subtitle {
      border-top: $bd;
    }
  }

	.result {
		flex: 0 1 100%;
		overflow-y: auto;
	}
}