.mod-result-gallery {
  $bgc: rgba(0,0,0,.85);
  $bdc: rgba(0,0,0,.35);
  $z: 3;
  $gap: u(4);
  position: relative;
  color: $c-alt;
  .result-image {
    @include pos(0 0 $gap 0);
  }
  header {
    z-index: $z;
    @include pos(auto 0 $gap 0);
    background-color: $bgc;
    padding: u(.5) u() 0;
    border-top: 1px solid $bdc;
  }
  h1 {
    font-size: 1em;
    a {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
    }
  }
  time {
    margin-right: u(.5);
    svg {
      fill: $c-alt;
      width: u(1.875);
      height: u(1.875);
      vertical-align: -2px;
      margin-right: u(.5);
    }
    small {
      padding-left: u(.5);
    }
  }
  small a {
    color: lighten($c-accent, 20%);
  }
  .stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    list-style: none;
    padding: 0 0 0 u();
    border-bottom: 1px solid $bdc;
    background-color: $bgc;
    position: relative;
    z-index: $z;
    .hotness {
      position: relative;
      z-index: 2;
      padding: 0 u();
      text-shadow: none;
    }
    .color-bar {
      @include pos(2px 2px 2px 2px);
    }
  }
  .actions {
    @include pos(auto 0 u() 0);
    @include result-actions($align: space-around);
  }
  &.is-placeholder {
    .image {
      @include ph-bg();
      @include pos(0 0 $gap 0);
    }
  }
}