/* Some customising for most complex form - Edit column
========================================================================== */
.mod-sourceset-edit {
  .subsection-content {
    align-content: space-between;
  }
  .delete-confirmation {
    position: absolute;
    right: 0;
    transform: translate3d(50%, 0, 0);
    z-index: 2;
  }
  .mod-submanagement {
    flex: 1 0 100%;
    min-height: 60vh;
    margin: 0 baseUnit(-1) baseUnit(-1);
    border-top: $bd;
    .list > .entity-list {
      min-height: 60vh;
    }
    li[class*="state-"] {
      height: 60vh;
    }
  }
}