/* Submanagement section - like sources in sets, columns in alerts and
reports and feeds in columns
========================================================================== */
.mod-submanagement {
	display: flex;
	justify-content: stretch;
	.header {
		padding: 0 u();
		height: u()*2 + $form-unit;
		border-bottom: $bd;
		display: flex;
		justify-content: space-between;
		align-items: center;
    > input {
      margin-right: u();
      flex: 0 0 50%;
    }
    > .Select, > select {
      flex: 0 0 180px;
    }
	}
	.selected {
		flex: 0 0 45%;
		max-width: 45%;
		border-right: $bd;
    position: relative;
    .mod-entity > .entity-list {
      li[class*="state-"] {
        position: static;
        height: 20vh;
      }
    }
	}
	.list {
		flex: 0 0 55%;
		max-width: 55%;
		> ul > li:first-child {
			border-top: 0;
		}
	}
  .selected, .list {
    &.state-disabled {
      @include style-disabled();
    }
  }
	.mod-sourceset > div:first-child {
    background-color: $c-element;
  }
}