/* Authentification forms and welcome screen
========================================================================== */
.mod-authentification {
  background: url('../img/bg.png') center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
	color: $c-alt;
	overflow-x: hidden;
	overflow-y: auto;
	a {
		color: $c-alt;
  }
  small {
    display: block;
    margin-top: baseUnit(4);
  }
  .row, .row-flex {
    margin: baseUnit(2) auto;
  }
  .tab-list {
    border-bottom: 2px solid $c-alt;
    margin-bottom: baseUnit(4);
  }
	.auth-forms {
    $c: 3;
		width: map-get($layout, auth) + baseUnit($c * 4);
    position: relative;
    padding: baseUnit($c) baseUnit($c * 2);
    top: 25%;
    background: rgba(#000, .4);
    border: 1px solid rgba(#000,.5);
    box-shadow: 0 0 0 1px rgba($c-alt,.15);
    h3 {
      line-height: $display2-font-size;
    }
	}
	.logotype {
		margin: 0 0 baseUnit(2) 0;
	}
  .login {
    .button {
      flex: 0 0 25%;
      width: 25%;
    }
  }
  .register {
    .button {
      width: 100%;
    }
  }
}