/* Authentification forms and welcome screen
========================================================================== */
.mod-authentification {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
	color: $c-alt;
	overflow: hidden;
  &:after {
    $gap: 10%;
    content: '';
    display: block;
    position: absolute;
    top: -$gap;
    left: -$gap;
    width: 100% + ($gap * 2);
    height: 100% + ($gap * 2);
    background: url('../img/bg.png') center center no-repeat;
    background-size: cover;
    transition: filter 1.5s ease-out;
    filter: blur(2px);
    z-index: -1;
    .app-loading & {
      filter: blur(10px);
    }
  }
	a {
		color: $c-alt;
  }
  small {
    display: block;
    margin-top: u(4);
  }
  .row, .row-flex {
    margin: u(2) auto;
  }
  .tab-list {
    border-bottom: 2px solid $c-alt;
    margin-bottom: u(4);
  }
	.auth-forms {
    $c: 3;
		width: map-get($layout, auth) + u($c * 4);
    position: relative;
    padding: u($c) u($c * 2);
    top: 25%;
    background: rgba(#000, .4);
    border: 1px solid rgba(#000,.5);
    box-shadow: 0 0 0 1px rgba($c-alt,.15);
    h3 {
      line-height: $display2-font-size;
    }
	}
	.logotype {
		margin: 0 0 u(2) 0;
	}
  .login {
    .button {
      flex: 0 0 25%;
      width: 25%;
    }
  }
  .register {
    .button {
      width: 100%;
    }
  }
}