/* Main screen layout
========================================================================== */
.mod-screen-main {
	background-color: $c-alt;
	overflow-x: auto;
	overflow-y: hidden;
	.sidebar {
		flex: 0 0 $entity-unit;
		//transition: flex $dur;
		@include gradient($c-main, to left);
		color: $c-alt;
		text-shadow: $sh-text;
		overflow-x: hidden;
		a {
			color: $c-alt;
		}
		.mod-user-block {
			margin: u() u() u(2);
			div {
				opacity: 0;
			}
		}
		&.is-expanded {
			flex-basis: map-get($layout, nav);
			.mod-user-block {
				div {
					opacity: 1;
				}
			}
		}
	}

	.screen-content {
		flex: 1 1 auto;
		overflow: hidden;
		position: relative;
	}

  .mod-page, .mod-dashboard {
    @include pos();
    width: 100%;
  }
}