/* Column - main item on main dashboard
========================================================================== */
.mod-column {
  @include pos(baseUnit(0.5) baseUnit(0.5) baseUnit(0.5) baseUnit(0.5));
	display: flex;
	flex-direction: column;
	border: $bd;
	.column-header {
		display: flex;
		align-items: stretch;
		flex: 0 0 $entity-unit;
		border-bottom: $bd;
    background-color: $c-element;
		position: relative;
		.drag-handle {
			flex: 0 0 $pointer-unit;
		}
		h1 {
			font-size: 1.25em;
			line-height: 1;
			flex: 1 1 100%;
			align-self: center;
		}
		nav {
			border-left: $bd;
			margin: baseUnit(0.5) 0;
		}
		a {
			width: $entity-unit - baseUnit();
		}
	}
	.column-settings {
		border-bottom: $bd;
		flex: 0 1 auto;
		background-color: $c-element;
		padding: 0 baseUnit();
		select, .chosen-single, .toggler span, .switcher-mirrored span {
			background-color: $c-alt;
		}
	}
	.column-subnav {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
		border-top: $bd;
		padding: baseUnit(0.5) 0;
		a {
			flex: 1 1 33%;
			color: $c-icon;
			text-shadow: none;
      text-align: center;
      line-height: $form-unit;
			transition: color $dur;
      &:not(:last-child) {
        border-right: $bd;
      }
			&:hover, &:focus {
				color: darken($c-icon, 10%);
			}
		}
    svg {
      display: inline-block;
      vertical-align: -2px;
      width: $icon-unit;
      margin-right: baseUnit(0.5);
    }
	}
	> .content {
    flex: 1 1 auto;
    .ReactVirtualized__Grid:focus {
      outline: 0;
    }
    div[class*="state-"] {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include pos();
      padding: 0 5%;
      text-align: center;
      line-height: 1.25;
      font-size: 1.5em;
      font-style: italic;
      img, svg {
        display: block;
        margin: 0 auto baseUnit(2);
        width: 100px;
        height: 100px;
      }
    }
	}
	&.is-expanded {
		.column-header nav a.btn-settings {
			color: $c-accent;
		}
	}
	&.is-loading {
		animation: shadow-pulse 1.5s linear 0s infinite;
	}
}