/* Header user block
========================================================================== */
.mod-user-block {
	font-size: 1em;
  display: flex;
  align-items: flex-start;
	div {
		margin: 0 u();
		line-height: 1;
		//transition: opacity $dur;
	}
	img {
    flex: 0 1 u(4);
    max-width: u(4);
	}
	h2 {
		font-size: 1.2em;
		line-height: 1.2;
	}
}