/* Authentification forms and welcome screen
========================================================================== */
.mod-authentification {
  @include gradient($c-main, to left);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
	color: $c-alt;
	overflow-x: hidden;
	overflow-y: auto;
	a {
		color: $c-alt;
	}
  .row, .row-flex {
    margin: baseUnit(2) auto;
  }
  .tab-list {
    border-bottom: 2px solid $c-alt;
    margin-bottom: baseUnit(4);
  }
	.auth-forms {
    $c: 3;
		width: map-get($layout, auth) + baseUnit($c * 2);
    position: relative;
    padding: baseUnit($c);
    top: 25%;
    background: rgba(#000, .25);
    h3 {
      line-height: $display2-font-size;
    }
	}
	.logotype {
		margin: 0 0 baseUnit(2) 0;
	}
  .login {
    .button {
      flex: 0 0 25%;
      width: 25%;
    }
  }
  .register {
    .button {
      width: 100%;
    }
  }
}