/* Most compact result display
========================================================================== */
.mod-result-short {
  $aside: 65px;
  padding: u() 0;
  border-bottom: $bd;
  line-height: u(2.25);
  font-size: u(2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .sort {
    float: left;
    width: $aside;
    text-align: center;
    font-style: normal;
    font-family: $heading-font-family;
    border-right: $bd;
    b {
      display: block;
    }
  }
  figure {
    height: $aside;
  }
  header {
    margin-left: $aside + u();
  }
  time {
    font-weight: bold;
    margin-right: u(.5);
    svg {
      fill: $c-main;
      width: u(1.875);
      height: u(1.875);
      vertical-align: -2px;
      margin-right: u(.5);
    }
  }
  h1 {
    font: inherit;
    color: inherit;
    max-height: 36px;
    overflow: hidden;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  footer {
    clear: both;
  }
  .t-ellipsis {
    display: block;
  }
  .actions {
    //width: 96px;
    @include result-actions($align: space-around);
  }
  &.is-placeholder {
    .sort {
      @include ph-bg();
      border: 0;
      margin-top: 4px;
      margin-left: 14px;
      width: $aside * 0.7;
      height: $aside * 0.45;
    }
  }
}