/* Dashboard module - main screen of an app
========================================================================== */
.mod-dashboard {
	padding: baseUnit();
	overflow: hidden;
  display: block;
  .ReactVirtualized__Grid:focus {
    outline: 0;
  }
	.mod-column, .sortable-placeholder {
		display: flex;
		flex: 0 0 auto;
		width: map-get($layout, dashboard);
		margin-right: baseUnit();
	}
}