/* Result - main item on main dashboard result
========================================================================== */
.mod-result {
  line-height: baseUnit(2.25);
  font-size: baseUnit(2);
  $bar: baseUnit(.5);
  aside {
    $aside: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
			display: inline-flex;
			width: $aside;
			height: $aside;
      svg {
        width: 70%;
        height: 70%;
      }
			&:hover, &:focus {
				svg {
					fill: $c-accent;
				}
			}
		}
  }
  .comparator {
    font: 1em / 1 $heading-font-family;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
    b {
      font-size: 1.25em;
    }
  }
  .result-link {
    color: inherit;
    display: block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  small {
    display: flex;
    justify-content: space-between;
    line-height: baseUnit(3);
  }
  h1 {
    flex: 1 1 82%;
    font-size: 1.125em;
    line-height: 1.125;
    overflow: hidden;
    color: darken($c-accent, 10%);
    //margin-bottom: baseUnit(.5);
    border-bottom: $bd;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: stretch;
    .content {
      flex: 1 1 60%;
      word-break: break-all;
    }
    .result-image {
      flex: 0 0 40%;
      &.is-wide {
        flex: 0 0 100%;
      }
      &:not(.is-wide)+.content {
        flex-grow: 0;
        padding-left: baseUnit(.5);
      }
    }
  }
  &.is-placeholder {
    small {
      margin: baseUnit() 0 0 0;
      .line.very-short {
        margin: 0;
      }
    }
    .result-image {
      @include ph-bg();
    }
  }
}