/* Result - main item on main dashboard result
========================================================================== */
.mod-result {
  line-height: u(2.25);
  font-size: u(2);
  aside {
    @include result-actions();
  }
  .comparator {
    font: 1em / 1 $heading-font-family;
    cursor: pointer;
    text-shadow: 0 0 2px #000;
    b {
      font-size: 1.25em;
    }
  }
  .result-link {
    color: inherit;
    display: block;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  small {
    display: flex;
    justify-content: space-between;
    line-height: u(3);
  }
  h1 {
    max-height: 63px;
    font-size: 1.125em;
    line-height: 1.125;
    overflow: hidden;
    color: darken($c-accent, 10%);
    //margin-bottom: u(.5);
    border-bottom: $bd;
  }
  .text {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: stretch;
    .content {
      flex: 1 1 60%;
      word-break: break-all;
    }
    .result-image {
      flex: 0 0 40%;
      max-width: 40%;
      &.is-wide {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &:not(.is-wide)+.content {
        flex-grow: 0;
        padding-left: u(.5);
      }
    }
  }
  .brief-graph {
    svg {
      width: 100%;
      height: auto;
      pointer-events: all;
    }
  }
  &.is-placeholder {
    small {
      margin: u() 0 0 0;
      .line.very-short {
        margin: 0;
      }
    }
    .result-image {
      @include ph-bg();
    }
  }
}