@import 'mixins/_u.scss';
@import 'mixins/_ph.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.PageHeader--root {
  display: flex;
  position: relative;
  z-index: z(header);

  h1, h2 {
    line-height: 1;
    font-weight: normal;
  }

  h1 {
    
  }
  
  h2 {
    font-size: $f-h5;
  }

  .create {
    position: absolute;
    top: 0;
    right: 0;
  }

  .search {
    position: relative;
    display: flex;
    align-items: center;
    svg {
      width: u(3);
      height: u(3);
      margin-right: u();
      opacity: 0.5;
    }
    input {
      height: $s-input;
      line-height: $s-input;
      border: 0;
      background: none;
      @include placeholder() {
        @include ph-styles();
        opacity: 0.6;
        transition: opacity $t-dur $t-func;
      }
      &:focus {
        @include placeholder() {
          opacity: 1;
        }
      }
    }
  }

  .sort {
    width: 120px;
    .Select-control {
      border-bottom: none !important;
      &:after {
        content: none;
        display: none;
      }
    }
    .Select-placeholder {
      opacity: 0.6;
      transition-delay: 0;
    }
    svg {
      opacity: 0.5 !important;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
  }

  .container {
    position: relative;
    z-index: 2;
    width: $s-container;
    margin: auto auto 0;
    padding: u() 0;
    > *:not(:first-child) {
      margin-top: u(2);
    }
    > *:not(:last-child) {
      margin-bottom: u(2);
    }
  }
}