@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Notification--root {
  background-color: c(solid);
  padding: u();
  display: flex;
  svg {
    display: block;
    margin: 0 auto;
    width: u(4);
    height: u(4);
  }
  h5 {
    line-height: 1;
  }
  .graphic {
    flex: 0 0 auto;
    width: u(8);
    height: u(8);
  }
  &.style--raised {
    box-shadow: shadow(3);
    border-radius: $bdrs;
  }
  @each $style, $color in color(states) {
    &.style--#{$style} {
      svg {
        fill: $color;
      }
    }
  }
}