/* Buttons
========================================================================== */

.button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  height: $form-unit;
  padding: 0 baseUnit(2);
  vertical-align: top;
  text-decoration: none;
  color: $c-main;
  border-radius: $bdrs;
  font: $base-font-size/#{$form-unit - 2px} $heading-font-family;
  border: 0;
  border-bottom: 2px solid rgba(0, 0, 0, .2);
  @include gradient($c-border);
  transition: background $dur;
  &:hover,
  &:focus {
    text-decoration: none;
    @include gradient(darken($c-border, 2%), top);
  }
  &:active {
  }
  &.is-accent {
    color: $c-alt;
    @include gradient($c-accent);
    border-color: rgba(0, 0, 0, .4);
    &:hover,
    &:focus {
      @include gradient(lighten($c-accent, 2%), top);
    }
  }
  &.is-alt {
    color: $c-alt;
    @include gradient($c-accent-alt);
    border-color: rgba(0, 0, 0, .4);
    &:hover,
    &:focus {
      @include gradient(darken($c-accent-alt, 2%), top);
    }
  }
  &[class*="size-"] {
    padding: 0;
  }
  &[disabled] {
    @include style-disabled();
  }
  svg {
    display: block;
    margin: auto;
  }
}

.button-group {
  display: flex;
  >.button {
    border-radius: 0;
    border-left: $bd-lighten;
    border-right: $bd-darken;
    &:first-child {
      border-left: 0;
      border-radius: $bdrs 0 0 $bdrs;
    }
    &:last-child {
      border-right: 0;
      border-radius: 0 $bdrs $bdrs 0;
    }
  }
}

// @style FOR CUSTOM BUTTON ELEMENTS