/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: map-get($layout, buffer);
  right: 0;
  margin-top: 1px;
  z-index: 99999 !important;
  background: $c-element;
  box-shadow: $sh-popup;
  .rdtOpen & {
    display: block;
  }
  .rdtStatic & {
    box-shadow: none;
    position: static;
  }
  // React timepicker button styles ========================================
  // =======================================================================
  button {
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
      background-color: $c-alt;
    }
  }
  // React timepicker table styles =========================================
  // =======================================================================
  table {
    width: 100%;
    margin: 0;
  }
  td, th {
    text-align: center;
    height: 28px;
  }
  th {
    border-bottom: $bd;
    &.rdtSwitch {
      width: 100px;
    }
  }
  td {
    cursor: pointer;
  }
  // React timepicker table heading and footer =============================
  // =======================================================================
  thead {
    tr:first-child th {
      cursor: pointer;
      &:hover {
        background: $c-alt;
      }
    }
    button {
      width: 100%;
      height: 100%;
    }
  }
  tfoot {
    border-top: $bd;
  }
  // React timepicker items subclasses =====================================
  // =======================================================================
  .rdtDay:hover,
  .rdtHour:hover,
  .rdtMinute:hover,
  .rdtSecond:hover{
    background: rgba(#000,.1);
    cursor: pointer;
  }
  .rdtOld,
  .rdtNew {
    color: #999999;
  }
  .rdtActive {
    @include style-accent-element($bdr: none);
    &:hover {
      @include gradient(lighten($c-accent, 2%), top);
    }
  }
  .rdtActive.rdtToday:before {
    border-bottom-color: $c-element;
  }
  .rdtToday {
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      border-left: baseUnit() solid transparent;
      border-bottom: baseUnit() solid $c-accent;
      border-top-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 4px;
      right: 4px;
    }
  }
  span {
    &.rdtOld {
      color: #999999;
    }
  }
  // React timepicker disabled support =====================================
  // =======================================================================
  .rdtDisabled,
  .rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
  }
  // React timepicker navigation ===========================================
  // =======================================================================
  .rdtNext, .rdtPrev {
    font-size: 21px;
    vertical-align: top;
    span {
      display: block;
      user-select: none;
    }
  }
  .rdtTimeToggle {
    text-align: center;
    &:hover {
      background: rgba(#000,.1);
      cursor: pointer;
    }
  }
  .dow {
    width: 14.2857%;
    border-bottom: none;
  }
  // React timepicker months and years =====================================
  // =======================================================================
  .rdtMonth,
  .rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
    &:not(.rdtActive):hover {
      background: rgba(#000,.1);
    }
  }
  // React timepicker miliseconds ==========================================
  // =======================================================================
  .rdtMilli {
    vertical-align: middle;
    padding-left: baseUnit();
    width: $entity-unit;
    input {
      width: 100%;
      font-size: 1.2em;
      margin-top: 37px;
    }
  }
  // React timepicker counters =============================================
  // =======================================================================
  .rdtCounters {
    display: inline-block;
    > div {
      float: left;
    }
  }
  .rdtCounter {
    width: 40px;
    height: 100px;
  }
  .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
    display: block;
    user-select: none;
    &:hover {
      background: rgba(#000,.1);
    }
  }
  .rdtCount {
    height: 20%;
    font-size: 1.2em;
  }

  .rdtCounterSeparator {
    line-height: 100px;
  }
}

