/* Fielsets
========================================================================== */
fieldset {
  border: $bd;
	padding: u();
	border-radius: $bdrs;
	background-color: $c-element;
	legend {
		box-sizing: content-box;
		float: left;
		margin: -(u()) (-(u()) - 2px) u(2);
		width: 100%;
		padding: u() (u() + 2px) u(0.5);
		border-bottom: $bd;
		font-size: $subhead1-font-size;
		font-family: $heading-font-family;
	}
}

// @style CUSTOM FIELDSETS HERE