/* Textlike inputs
========================================================================== */

%textlike-base {
	width: 100%;
	padding: 0 baseUnit();
  @include form-element();
  @include placeholder () {
    @include form-pholder();
  }
	&:hover {
		@include style-hover();
	}
	&:focus {
		@include style-focus();
	}
  &[disabled] {
    @include style-disabled();
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="number"] {
  @extend %textlike-base;
	height: $form-unit;
  // @style ONLY ONELINE INPUTS HERE
}

textarea {
  @extend %textlike-base;
  height: $form-unit * 5;
  resize: none;
  // @style ONLY TEXTAREAS HERE
}

// @style CUSTOM INPUTS HERE