/* Headings
========================================================================== */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
	line-height: 1;
  font-weight: 400;
  font-family: $heading-font-family;
  // @style: GENERIC HEADERS HERE
  small {
    font-weight: 400;
  }
}

// Custom heading here
// ======================================================================
h1, .t-display2 {
  font-size: $display2-font-size;
}

h2, .t-display1 {
  font-size: $display1-font-size;
}

h3, .t-heading {
  font-size: $heading-font-size;
}

h4, .t-subhead1 {
  font-size: $subhead1-font-size;
}

h5, .t-subhead2 {
  font-size: $subhead2-font-size;
}

h6, .t-caption {
  font-size: $caption-font-size;
}

/* Entity list subheaders
========================================================================== */
.list-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: baseUnit();
	border-bottom: $bd;
	height: $entity-unit + 1px;
	span {
		$s: $entity-unit - baseUnit();
		flex: 0 0 ($s + 1);
		margin-right: baseUnit(-1);
		text-align: center;
		font-size: baseUnit(2.5);
		line-height: $s - baseUnit();
		border-left: $bd;
	}
}

/* Form headers
========================================================================== */
.form-subtitle {
	display: block;
	line-height: 1;
	margin-bottom: baseUnit(0.5);
	padding-bottom: baseUnit();
	border-bottom: $bd;
	font-size: $subhead1-font-size;
}

/* Subsection header
========================================================================== */
.subsection-header {
	border-bottom: $bd;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
  overflow: hidden;
  background-color: $c-element;
	h1 {
		line-height: 1;
		font-size: $display1-font-size;
	}
	p {

	}
	> svg {
		margin: auto;
		fill: $c-icon;
		width: round($icon-unit*1.5);
		height: round($icon-unit*1.5);
	}
	.nav {
		flex: 0 0 $form-unit;
		display: flex;
	}
	.text {
		flex: 0 1 100%;
		padding: baseUnit();
	}
  .loading-cogs {
    @include pos(false 0 0 false);
    height: 100px;
    width: 100px;
    opacity: 0.5;
  }
}

// @style: CUSTOM HEADERS HERE