// Font face declaration example
// ==========================================================================
@font-face {
	font-family: "PTSans";
	src: url('../fonts/PTSans-Regular/PTSans-Regular.woff2') format('woff2'),
    url('../fonts/PTSans-Regular/PTSans-Regular.woff') format('woff'),
    url('../fonts/PTSans-Regular/PTSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PTSans";
	src: url('../fonts/PTSans-Italic/PTSans-Italic.woff2') format('woff2'),
    url('../fonts/PTSans-Italic/PTSans-Italic.woff') format('woff'),
    url('../fonts/PTSans-Italic/PTSans-Italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: "PTSans";
	src: url('../fonts/PTSans-Bold/PTSans-Bold.woff2') format('woff2'),
    url('../fonts/PTSans-Bold/PTSans-Bold.woff') format('woff'),
    url('../fonts/PTSans-Bold/PTSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "PTSans";
	src: url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.woff2') format('woff2'),
    url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.woff') format('woff'),
    url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: "PTSansNarrow";
	src: url('../fonts/PTSans-Narrow/PTSans-Narrow.woff2') format('woff2'),
    url('../fonts/PTSans-Narrow/PTSans-Narrow.woff') format('woff'),
    url('../fonts/PTSans-Narrow/PTSans-Narrow.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PTSansNarrow";
	src: url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.woff2') format('woff2'),
    url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.woff') format('woff'),
    url('../fonts/PTSans-NarrowBold/PTSans-NarrowBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
