@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.Switcher--root {
  $h: u(1.5);
  $w: u(2.25);
  .body {
    display: flex;
    align-items: center;
  }
  label {
    flex: 1 1 auto;
  }
  .control {
    $step: $w + ($w - $s-pointer) * .5;
    display: inline-block;
    position: relative;
    height: $h;
      
    input {
      position: relative;
      vertical-align: top;
      width: $w;
      height: $h;
      opacity: 0;
      z-index: 3;
      cursor: pointer;
    }

    input:nth-child(1):checked {
      & ~ .handle {
        background-color: $c-acc;
      }
      & ~ .track {
        background-color: map-get($colors, el-light);
      }
    }

    input:nth-child(2):checked ~ .handle {
      transform: translate3d($step,0,0);
    }

    input:nth-child(3):checked {
      & ~ .handle {
        transform: translate3d($step * 2,0,0);
        background-color: $c-acc-sec;
      }
      & ~ .track {
        background-color: mix($c-acc-sec, #fff, 20%);
      }
    }

    .track {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: $h * .5;
      background-color: $c-sec-dk;
      transition: background-color 0 ease-in $t-dur * .5;
    }

    .handle {
      display: block;
      position: absolute;
      top: ($h - $s-pointer) * .5;
      width: $s-pointer;
      height: $s-pointer;
      border-radius: 50%;
      background-color: map-get($colors, solid);
      box-shadow: $sh-z3;
      transition: transform $t-dur $t-func;
      z-index: 2;
    }

    input:focus ~ .handle {
      box-shadow: $sh-z4;
    }

    // input:nth-child(1):focus, input:nth-child(2):focus {
    //   // & ~ .track {
    //   //   background-color: map-get($colors, el-light);
    //   // }
    //   & ~ .handle {
    //     box-shadow: $sh-z4;
    //   }
    // }
    // input:nth-child(3):focus {
    //   & ~ .track {
    //     // background-color: mix($c-acc-sec, #fff, 20%);
    //   }
    //   & ~ .handle {
    //     box-shadow: getFocusShadow($c-acc-sec);
    //   }
    // }
  }
}