/* Entity - item in a list on entity management screen columns/sets/alerts/reports/user or
in sub-managent like sources in set, sources/sets in column or column within alert or report
========================================================================== */
.mod-entity {
	position: relative;
	>div:first-child {
		display: flex;
		align-items: stretch;
		height: $entity-unit;
		transition: background-color $dur;
		a:hover, a:focus {
			text-decoration: none;
		}
		.counter {
			vertical-align: 2px;
		}
		.text {
			flex: 1 1 100%;
			color: inherit;
			overflow: hidden;
			line-height: 1.125;
			display: flex;
			flex-direction: column;
			justify-content: center;
			> * {
				display: inline-block;
				max-width: 100%;
				margin: baseUnit(0.5);
				@include ellipsis;
        color: $c-main;
				+ .url {
					margin-top: 0;
					font-size: 0.875em;
				}
			}
		}
		.drag-handle {
			cursor: move;
			fill: $c-icon;
			flex: 0 0 $pointer-unit;
			+ .text > * {
				margin-left: 0;
			}
		}
    .nav-links,
    .confirmation {
      flex: 0 0 auto;
			border-left: $border;
			margin: baseUnit(0.5) 0;
    } 
		.nav-links {
			a {
				width: $entity-unit - baseUnit();
			}
			svg {
				transition: fill $dur, transform $dur;
			}
		}
    .confirmation {
      position: relative;
      line-height: $entity-unit - baseUnit();
      color: $c-main;
      padding: 0 baseUnit() 0 baseUnit(2);
      &:before, &:after {
        display: block;
        content: '';
        margin: auto;
        @include pos(0 false 0 -1px);
        width: 0;
        height: 0;
      }
      &:before {
        border: (baseUnit() +1) solid transparent;
        border-left-color: $c-border;
      }
      &:after {
        border: baseUnit() solid transparent;
        border-left-color: $c-alt;
      }
    }
	}
	ul:last-child {
		display: none;
		> .mod-entity:first-child {
			border-top: $border;
		}
		> .mod-entity:last-child {
			border-bottom: 0;
		}
	}
	&.is-selected > div:first-child {
		@include gradient(lighten($c-accent-alt, 20%));
		box-shadow: $shadow-base;
		.text {
			text-shadow: $shadow-text-alt;
		}
		.nav-links {
			border-color: darken($c-border, 20%);
		}
		svg {
			fill: darken($c-icon, 10%);
		}
	}
	&.is-expanded {
		.btn-toggle {
			svg {
				transform: rotate(180deg);
				fill: $c-accent-alt;
			}
		}
		> ul:last-child {
			display: block;
		}
	}
	&.is-disabled > div:first-child {
		@include style-disabled;
		background-color: transparent;
		a {
			cursor: default;
		}
	}
}