/* Main screen layout
========================================================================== */
.mod-screen-main {
	background-color: $c-alt;
	overflow-x: auto;
	overflow-y: hidden;

	.sidebar {
		flex: 0 0 $entity-unit;
		transition: flex $dur;
		@include gradient($c-main, right);
		color: $c-alt;
		text-shadow: $sh-text;
		overflow-x: hidden;
		a {
			color: $c-alt;
		}
		.mod-user-block {
			margin: baseUnit() baseUnit() baseUnit(2);
			div {
				opacity: 0;
			}
		}
		&.is-expanded {
			flex-basis: map-get($layout, nav);
			.mod-user-block {
				div {
					opacity: 1;
				}
			}
		}
	}

	.screen-content {
		flex: 1 1 auto;
		overflow: hidden;
		position: relative;
	}

  .mod-page {
    @include pos();
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
  }

	.mod-dashboard {
		@include pos();
		align-items: stretch;
	}
}

.mod-page {
  section[class*="mod-subsection-"] {
    display: flex;
    align-items: stretch;
		flex-direction: column;
    border-right: $bd;
    .subsection-header {
			flex: 0 0 auto;
			position: relative;
			z-index: 1;
		}
		.subsection-content {
			flex: 0 1 100%;
      overflow-x: hidden;
      overflow-y: auto;
		}
  }

  // Unique styles for list section
  .mod-subsection-list {
    flex: 0 0 30%;
    max-width: 30%;
    min-width: map-get($layout, buffer);
    z-index: 2;
    position: relative;
    .subsection-header {
      form {
        margin-top: baseUnit();
        display: flex;
      }
      button {
        margin-left: baseUnit();
      }
    }
    .delete-confirmation {
      $s: 60%;
      position: absolute;
      width: $s;
      right: round($s* -0.5);
      z-index: 2;
    }
  }

  // Make submanagement screen fit all height available
  .mod-subsection-management {
    .mod-submanagement {
      height: 100%;
    }
  }

  // Make optional subsections "invisible"
  .mod-subsection-edit, .mod-subsection-management {
    flex: 0 1 70%;
    max-width: 70%;
  }
}