/* Helper classes
========================================================================== */
// All helper classes going here
// I use "t-" prefix wich means - "typography"
// We may use any other.

.t-clear {
	&:before, &:after {
		display: table;
		clear: both;
		content: '';
	}
}

.t-left {
  text-align: left;
}

.t-right {
  text-align: right;
}

.t-center {
  text-align: center;
}

.t-justify {
  text-align: justify;
}

.t-nowrap {
  white-space: nowrap;
}

.t-lowercase {
  text-transform: lowercase;
}

.t-uppercase {
  text-transform: uppercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.t-ellipsis {
  @include ellipsis;
}

.t-textless {
  @include hide-text();
}

.t-rhythm {
  margin: u(0.5) auto;
}

.t-gutter {
	margin: u() auto;
}

.t-scrollable-x {
  overflow-x: hidden;
  overflow-y: auto;
}

.t-scrollable-y {
  overflow-x: auto;
  overflow-y: hidden;
}

.sortable-ghost {
  z-index: 10;
  border: 1px solid lighten($c-accent-alt, 25%);
  background: lighten($c-accent-alt, 40%);
}

.state-default {
  $c: map-get($states, info);
  color: $c;
  svg {
    fill: $c;
    opacity: 0.75;
  }
}
.state-empty {
  $c: map-get($states, info);
  color: $c;
  svg {
    fill: $c;
    opacity: 0.75;
  }
}
.state-error {
  $c: map-get($states, error);
  color: $c;
  svg {
    fill: $c;
  }
}
.state-loading {
  $c: darken($c-border, 18%);
  color: $c;
  svg {
    fill: $c;
  }
}