/* Links
========================================================================== */

a {
  color: $c-accent;
  text-decoration: none;
  cursor: pointer;
  // @style: GENERIC LINKS HERE
  &:hover,
  &:focus {
    color: darken($c-accent, 10%), 10%;
    text-decoration: underline;
    outline: 0;
  }
}

.nav-links {
	display: flex;
	a {
		@include hide-text();
		display: flex;
		&:hover, &:focus {
			text-decoration: none;
			svg {
				fill: darken($c-icon, 10);
			}
		}
		&:active {
			svg {
				fill: $c-accent-alt;
			}
		}
	}
}

// @style: CUSTOM LINKS HERE