/* Table styling
========================================================================== */

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  // @style DEFAULT TABLES HERE
  caption {
    text-align: left;
    font-weight: 700;
    font-family: $heading-font-family;
    font-size: $subhead1-font-size;
    line-height: 1;
  }
  td {
    // Selector for generic cells ========================================
    // ===================================================================
  }
  td, th {
    // Selector for all cells ============================================
    // ===================================================================
    padding: 0.25em 0.5em;
  }
  >tr:last-child td, tr:last-child th {
    // Selector to match last cell in each row ===========================
    // ===================================================================
  }
  thead td, th {
    // Selector to match heading cells ===================================
    // ===================================================================
    text-align: left;
  }
  tfoot {

  }
  &.placeholder-table tbody {
    td, th {
      @include ph-bg();
      border: 4px solid $c-alt;
    }
  }
}

/* Results stats table
========================================================================== */
.stats-table {
  margin-top: baseUnit();
  td, th {
    line-height: 1;
    font-size: 0.75em;
    border: $bd;
  }
  b {
    text-transform: capitalize;
  }
  .hotness {
    position: relative;
    font-weight: bold;
    text-shadow: 0 0 4px #fff;
  }
  .color-bar {
    display: block;
    @include pos(0 0 0 0);
    z-index: -1;
    background-clip: content-box;
    background-image: linear-gradient(to left, nth($c-scale, 1), nth($c-scale, 2), nth($c-scale, 3));
    &.is-new {
      background: lighten(map-get($states, 'success'), 10%);
    }
  }
}