/* Buttons
========================================================================== */

a.is-button,
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  cursor: pointer;
	height: $form-unit;
	padding: 0 baseUnit();
	border-radius: $bdrs;
	font: $base-font-size $heading-font-family;
	color: $c-alt;
  @include gradient($c-accent);
	border: 0;
	border-bottom: 2px solid rgba(0,0,0,.8);
  transition: background $dur, opacity $dur;
  &:not([disabled]):hover, &:not([disabled]):focus {
		@include gradient(lighten($c-accent, 1.5%), top);
	}
  &:not([disabled]):active {
		border-bottom-width: 0px;
	}
	&.is-alt {
		@include gradient($c-accent-alt);
    border-bottom: 2px solid rgba(0,0,0,.4);
		&:not([disabled]):hover, &:not([disabled]):focus {
			@include gradient(darken($c-accent-alt, 1.5%), top);
		}
	}
  &.is-neutral {
    color: $c-main;
		@include gradient($c-border);
    border-bottom: 2px solid rgba(0,0,0,.4);
		&:not([disabled]):hover, &:not([disabled]):focus {
			@include gradient(darken($c-border, 1.5%), top);
		}
	}
	&[class*="size-"] {
		padding: 0;
	}
  &[disabled] {
    @include style-disabled();
  }
}

a.is-button {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	line-height: $form-unit - 2px;
}

.button-group {
	display: flex;
	> a.is-button,
	> input[type="submit"],
	> input[type="reset"],
	> input[type="button"],
	> button {
		border-radius: 0;
		border-left: 1px solid rgba(#fff,.25);
		border-right: 1px solid rgba(#000,.25);
		&:first-child {
			border-left: 0;
			border-radius: $bdrs 0 0 $bdrs;
		}
		&:last-child {
			border-right: 0;
			border-radius: 0 $bdrs $bdrs 0;
		}
	}
}

// @style FOR CUSTOM BUTTON ELEMENTS