/* Forms
========================================================================== */
%base-form-element {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  line-height: normal;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button,
input,
select,
textarea,
a.is-button,
span.is-button {
  @extend %base-form-element;
  &:focus {
    outline: 0;
  }
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input:invalid {
  box-shadow: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

/* Labels
========================================================================== */
label, .form-label {
  display: inline-block;
  vertical-align: middle;
	.row-flex & {
		margin-top: auto;
		margin-bottom: auto;
		flex: 0 0 auto;
	}
}