/* Fielsets
========================================================================== */
fieldset {
  border: $border;
	padding: baseUnit();
	border-radius: $bdrs;
	background-color: $c-element;
	legend {
		@include box-sizing(content-box);
		float: left;
		margin: -(baseUnit()) (-(baseUnit()) - 2px) baseUnit(2);
		width: 100%;
		padding: baseUnit() (baseUnit() + 2px) baseUnit(0.5);
		border-bottom: $border;
		font-size: $subhead1-font-size;
		font-family: $heading-font-family;
	}
}

// @style CUSTOM FIELDSETS HERE