/* Switchers
========================================================================== */
input[type="checkbox"],
input[type="radio"],
span[class*="switcher-"] {
  label & {
    vertical-align: top;
  }
}

/* Custom switchers
========================================================================== */
span[class*="switcher-"] {
	@extend %base-form-element;
	width: $pointer-unit;
	height: $pointer-unit;
	position: relative;
	@include form-element();
	input, span, svg {
		@include pos();
		display: block;
		margin: auto;
		cursor: pointer;
	}
	input {
		width: 100%;
		height: 100%;
		z-index: 2;
		cursor: pointer;
		opacity: 0;
	}
	&:hover {
		@include style-hover();
	}
	&.is-focused {
		@include style-focus();
	}
	&.is-element-size {
		width: $form-unit;
		height: $form-unit;
		font-size: $form-unit - 4px;
	}
}


span.switcher-checkbox {
	svg {
		fill: $c-border;
		border-radius: $bdrs;
	}
	input:checked + svg {
		fill: $c-alt;
		@include gradient($c-accent);
		border: $bd-darken;
	}
}

span.switcher-radio {
	border-radius: 50%;
	span {
		border-radius: 50%;
		width: 50%;
		height: 50%;
		@include gradient($c-accent);
		border: $bd-darken;
		opacity: 0;
	}
	input:checked + span {
		opacity: 1;
	}
}

span.switcher-direction {
	width: $form-unit;
	height: $form-unit;
	svg {
		width: round($form-unit*0.5);
		height: round($form-unit*0.5);
		fill: $c-icon;
	}
	input[value="asc"]:checked {
		z-index: -1;
	}
	input[value="desc"]:checked {
		z-index: -1;
		 ~ svg {
			transform: rotateY(180deg);
		}
	}
}

/* Toggler
========================================================================== */
.toggler {
	@extend %base-form-element;
	position: relative;
	height: $pointer-unit;
	line-height: $pointer-unit;
	span {
    @include pos(0 false false 0);
		height: 100%;
		width: 100%;
		@include form-element();
	}
	input {
		position: absolute;
		width: 0;
		height: 0;
		right: 0;
		visibility: collapse;
	}
	em {
    @include pos((-2px) false (-2px) 0);
		width: 50%;
		z-index: 1;
		border-radius: $bdrs;
		@include gradient($c-accent);
		border: $bd-darken;
		transition: left $dur linear;
	}
	label {
		float: left;
		width: 50%;
		min-width: nth($sizes, 1)+px;
		height: 100%;
		position: relative;
		z-index: 2;
		cursor: pointer;
		text-align: center;
		font-size: 0.875em;
		transition: color $dur ease;
		&:before {
			margin-right: baseUnit();
		}
		&:after {
			margin-left: baseUnit();
		}
	}
	input:checked + label {
		color: $c-alt;
		transition-delay: $dur;
	}
	input:disabled ~ span,
	input:disabled ~ label,
	input:disabled ~ em {
		@include style-disabled;
	}
	input[type="radio"]:checked:nth-of-type(1) ~ em {
		left: 0;
	}
	input[type="radio"]:checked:nth-of-type(2) ~ em {
		left: 50%;
	}
	&:hover {
		span {
			@include style-hover();
		}
	}
	&.is-focused {
		span {
			@include style-focus();
		}
	}
	&.is-triple {
		label, em {
			width: 33.3333%;
		}
		input[type="radio"]:checked:nth-of-type(2) ~ em {
			left: 33.3333%;
		}
		input[type="radio"]:checked:nth-of-type(3) ~ em {
			left: 66.7%;
		}
	}
}