@import '_vars.scss';

.colors {
  display: flex;
  flex-wrap: wrap;
  > span {
    height: 100px;
    display: flex;
    align-items: flex-end;
    span {
      height: 50px;
      flex: 0 0 50%;
    }
  }

  .primary {
    flex: 0 0 55%;
    background-color: color(primary);
    .lighten {
      background: color(primary, light);
    }
    .lighten2 {
      background: color(primary, lighter);
    }
  }
  
  .secondary {
    flex: 0 0 25%;
    background-color: color(secondary);
    .darken {
      background: color(secondary, dark);
    }
    .darken2 {
      background: color(secondary, darker);
    }
  }

  .accent {
    background-color: color(accent);
    flex: 0 0 10%;
    .lighten {
      background: color(accent, light);
    }
    .darken {
      background: color(accent, dark);
    }
  }

  .accent-sec {
    background-color: color(accent);
    flex: 0 0 10%;
    .lighten {
      background: color(action, light);
    }
    .darken {
      background: color(action, dark);
    }
  }

  .states {
    flex: 0 0 100%;
    
    span {
      flex: 0 0 25%;
    }
    
    .error {
      background-color: color(error);  
    }
    .warning {
      background-color: color(warning);  
    }
    .success {
      background-color: color(success);  
    }
    .info {
      background-color: color(info);  
    }
  }
}