@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.ActionMenu--root {
  border-radius: $bdrs;
  box-shadow: $sh-z4;
  background-color: map-get($colors, solid);
  max-width: 240px;
  a {
    display: block;
    padding: u(.5) u();
    color: $c-prm;
    line-height: $s-input;
    &:first-child {
      border-radius: $bdrs $bdrs 0 0;
    }
    &:last-child {
      border-radius: 0 0 $bdrs $bdrs;
    }
    &:hover, &:focus {
      text-decoration: none;
      background-color: $c-sec-dk;
    }
  }
  hr {
    margin: 0 u();
  }
  svg {
    display: inline-block;
    margin-right: u();
    vertical-align: -2px;
  }
}