@import 'mixins/_u.scss';
@import 'mixins/_styles.scss';
@import '_vars.scss';

.ActionMenu--root {
  max-width: 240px;
  font-size: u(1.5);
  @include solid-styles($anim: true, $or: top left);
  a {
    display: block;
    padding: 0 u(2);
    color: color(primary);
    line-height: $s-element;
    &:first-child {
      border-radius: $bdrs $bdrs 0 0;
    }
    &:last-child {
      border-radius: 0 0 $bdrs $bdrs;
    }
    &:hover, &:focus {
      text-decoration: none;
      background-color: color(highlight);
    }
  }
  hr {
    margin: 0 u();
  }
  svg {
    display: inline-block;
    margin-right: u();
    vertical-align: -2px;
    width: u(1.75);
    height: u(1.75);
  }
}